/* CSS Document */

* {
	margin:0;
	padding:0;
}

.grid_1 { width: 15.33%; }
.grid_2 { width: 32.26%; }
.grid_3 { width: 49.2%; }
.grid_4 { width: 66.13%; }
.grid_5 { width: 83.06%; }
.grid_6 { width: 100%; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6 {
	margin: 0 1.5% 1% 0;
	float: left;
	display: block;
	/*background-color:rgba(153,0,0,1);*/
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
  font-weight: bold;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: red;
  font-weight: bold;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: red;
  font-weight: bold;
}
input:-moz-placeholder { /* Firefox 18- */
  color: red;
  font-weight: bold;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 980px) {
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6 {
		width: 100%;
	}

	#get-in-touch{margin:none;}


}

body {

	overflow-x: hidden;
	position: relative;
	
}

h1.introduction{
	font-size: 42px;
}

p{font-size: 26px;
	line-height: 1.5em;

}


html, body {
	width: 100%;
	height: 100%;
	background-color:#ececec;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: 0.1em;
}


section.landing {
	max-width: 1920px !important;
	margin: 0 auto;
	float: none;
}



section.landing > .grid_3 {
	margin-right: 0;	
}

section.landing > #about-pickandmix > .text {
	padding: 3em;
	background-color: pink;
}

section.landing > #call-for-action > #get-in-touch {
	padding: 5em 1em;
}




#get-in-touch{
	margin: 0 40px;
}


#success-outer{
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 500;
}

#success {
    position: fixed;
    width: 600px;
    min-height: 389px;
    background-color: white;
    margin: -200px 0 0 -290px;
    padding: 0em;
    z-index: 600;
    left: 50%;
    top: 50%;
}

#success > .content {
    padding: 4em;
}

button#contact-us {
	background-color:#77b55a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:22px;
	font-weight:bold;
	width:100%;
	padding:8px 25px;
	margin: 0;
	text-decoration:none;
}

button#contact-us:hover,
button#contact-us:focus {
	position:relative;
	top:1px;
	background-color: blue;
}



#contact-form {
	width:100%;
	display: none;
}

#contact-form > form {
    max-width: auto;
    margin: 10px auto;
    padding: 60px 20px;
    background: #f4f7f8;
}

#contact-form > form > ol {
	list-style:none;	
}

#contact-form > form > label {
	display: block;
	font-weight:bold;
	color:#3e3e3e;
}

input[type="name"],
input[type="email"],
input[type="phone"],
select {
	background: rgba(255,255,255,0.1);
	border: none;
	font-size: 16px;
	height: auto;
	outline: 0;
	width: 100%;
	background-color: #e8eeef;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    padding: 12px 20px;
    margin: 8px 0 30px 0;
    display: inline-block;
    box-sizing: border-box;
}

#contact-form > form > fieldset {
	margin-left:1em;
	margin-bottom: 30px;
	border: none;
}

#contact-form > form > select {
	height: 50px;
    margin: 8px 0 30px 0;
	border-radius: 2px;
	cursor: pointer;
	box-sizing: border-box;
}

#contact-form > form > select > option {
	background-color:white;
}